.git
.gitignore
.gitattributes
.vs
.vscode
.idea

**/bin
**/obj
**/out
**/publish
**/[Dd]ebug
**/[Rr]elease
**/x64
**/x86
**/[Ll]ogs
**/[Ll]og

LibraryMPT.Tests

LibraryMPT.MobileClient/build
LibraryMPT.MobileClient/.dart_tool
LibraryMPT.MobileClient/.flutter-plugins
LibraryMPT.MobileClient/.flutter-plugins-dependencies
LibraryMPT.MobileClient/ios/Pods
LibraryMPT.MobileClient/android/.gradle

.env
.env.local
*.user
*.suo
appsettings.Local.json
LibraryMPT.Api/appsettings.Local.json

.DS_Store
Thumbs.db

docker-compose*.yml
Dockerfile*
.dockerignore

deploy
README-DEPLOY.md

dbscript.sql

**/*.nupkg
**/packages
